body {
    display: inline;
    overflow-x: hidden;
    font-family: 'Architects Daughter', cursive;
    background:url(images/Starry.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}








.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;

}











section {
    padding-top: 50px;
    padding-bottom: 50px;
}
section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: #A6D6D6;
    text-align: left;
    margin-bottom: 20px;
}
section p {
    font-size: 16px;
    font-weight: 300;
    color: #A6D6D6;
}
button {
    max-width: 50%;
    border-radius: 50px !important;

}
#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#hero .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}
#hero img {
    max-width: 130% !important;
    width: 130%;
}
#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
h5,h2,h4{
    color: #A6D6D6;
}

#contact h1 {
    text-align: center;
    color:#A6D6D6;
}

.contactf{text-transform: uppercase;
    font-weight: 900;
    color: #A6D6D6;





}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    color: #A6D6D6;
    text-transform: uppercase;
    letter-spacing: 6px;
}



/* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: #000;
    color: #A6D6D6;
    letter-spacing: 1px;


}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;

}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
    color:#A6D6D6;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;

}


/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #A6D6D6;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color:  #A6D6D6;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color:  #A6D6D6;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #A6D6D6;
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #A6D6D6;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #A6D6D6;
    background-color: rgb(27,27,27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #A6D6D6;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #A6D6D6;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
    color: #000;
}






/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control, textarea {

        margin: 0 auto;
    }


    .name, .email, textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        center: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

}
